<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
@code{
    protected override void OnInitialized()
    {
        // Set a breakpoint here
        base.OnInitialized();
    }
}